Flask
gunicorn

langchain
langchain-classic
# langchain-community
langchain-core
# langchain-experimental

langchain-huggingface
langchain-qdrant

sentence-transformers
transformers
huggingface-hub

--extra-index-url https://download.pytorch.org/whl/cpu
torch

qdrant-client

pypdf

python-dotenv

# requests